* {
    box-sizing: border-box;
    color: #333;
    font-family: "EncodeSansRegular", sans-serif;
}

html,
body {
    min-height: 100%;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Montserrat", sans-serif;
	font-weight:700;
}
strong{
    font-weight:600;
}
.semibold{
	font-weight:600;
}
.bold{
	font-weight:700;
}
.extrabold{
	font-weight:800;
}
.book{
	font-weight:900;
}
.encode12{
    font-size: 12px;
    line-height: 17px;
}
.montserrat{
	font-family: 'Montserrat', sans-serif;
	font-size: 3em;
}
.whiteText{
	color:#fff;
}
.grayText{
    color: #9f9f9f;
}
.blueText{
    color: #82c6be;
}
.darkerBlueText{
	color:#27a092;
}
.greenText{
    color: #c6d831;
}
.uppercase{
	text-transform:uppercase;
}
/*FONT SIZES*/
.em15{
	font-size:1.5em;
}
.em2{
	font-size:2em;
}
.em25{
	font-size:2.5em;
}
.em3{
	font-size:3em;
}
.em35{
	font-size:3.5em;
}
.em4{
	font-size:4em;
}
/*MARGINS*/
.m-10{
	margin:-10px;
}
.row.call{
	margin-bottom: 5vh;
    margin-left: 7vw;
}

ul:not(.browser-default), ul:not(.browser-default)>li{
	list-style-type:unset;
	margin-left:10px;
}
ol { padding-left: 1.3em; }
/*DESKTOP STYLES*/
#nav, #logoCabi, #logoUbike, #logoIpca{
    transition: all 0.5s;
}
#nav{
    position: fixed;
    height: 90px;
    width: 100%;
    padding: 0 75px;
    overflow: visible;
    background: white;
	z-index:1;
}
#logoCabi,#logoUbike{
    /*Tamanhos dos logos maximizados*/
    height: 120px;
    position: absolute;
    top: 25px;
    left: 75px;
}
#logoUbike{
    left: 210px;
}
#logoIpca{
    /*Tamanhos dos logos maximizados*/
    height: 30px;
    position: absolute;
    right: 75px;
    top:30px;
}

#nav.min{
    height: 45px;
}
#nav.min #logoCabi,#nav.min #logoUbike{
    /*Tamanhos dos logos minimizados*/
    height: 85px;
    position: absolute;
    top: 10px;
    left: 75px;
}
#nav.min #logoUbike{
    /*Ajuste da distancia do logo uBike à margem esquerda quando minimizado*/
    left: 170px;
}
#nav.min #logoIpca{
    /*Tamanhos dos logos minimizados*/
    height: 20px;
    position: absolute;
    right: 75px;
    top:15px;
}



header{
		min-height:100vh;
}

section {
    width: 100%;
    min-height: 100vh;
    background: white;
    padding: 100px 10vw;
}

#apoiosWrapper{
    position: relative;
}

section#projecto{
		background-image: url(../img/bg1.png);
		background-repeat:no-repeat;
		background-position: center bottom;
		background-size: contain;
		padding-bottom: 24vw;
}
section#aderir{
    background: #c7d92c;
    background-image: url(../img/bg2.png);
    background-repeat: no-repeat;
    background-position: 5% 95%;
    background-size: 33vw;
    padding-bottom: 29vw;
}
section#como{
    background: #9cd9d4;
}
section#seguranca{
    background: #ea504f;
}
section#contactos{
    background: #ffc06c;
		background-image: url(../img/bg3.png);
		background-repeat:no-repeat;
		background-position: center bottom;
		background-size: contain;
		padding-bottom: 15vw;
}
section#contactos>.row>.col>*{
    color: inherit;
}


/*HELPER CLASSES*/

*[data-object-fit] {
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}
