/*TABLETS*/
@media only screen and (max-width: 992px) {
  #logoIpca{
		height: 20px;
		position: absolute;
		right: 25px;
		top: 15px;
	}
	#nav.min #logoIpca {
		height: 20px;
		position: absolute;
		right: 25px;
		top: 15px;
	}

	#logoCabi,#logoUbike{
		
	}
}